#appSearch{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
}

#appTitle{
    position: absolute;
    top: 20%;
    left:47%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

#appSubtitle{
    position: absolute;
    top: 27%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

#appIcon{
    position: absolute;
    top: 20%;
    left:57%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

#searchButton{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}


#searchSubtitle{
    font-size: 12px;
}

#appLoginRegister{
    text-align: right;
    margin-top: 1%;
    margin-right: 1%;
}

#loginLayout {
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}