#homeTitle{
    position: absolute;
    top: 20%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

#homeSubtitle{
    position: absolute;
    top: 27%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

#searchButton{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

#searchSubtitle{
    font-size: 12px;
}

#loginLayout {
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

#descriptionText {
    font-size: medium;
}